# Grouping Data with groupby()

In [1]:
# Import Libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Import data set

path = r'C:\Users\jeong\OneDrive\Desktop\CF Files\Achievement 4\07-2023 Instacart Basket Analysis'

ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_updated.pkl'))

df_dep_t_new = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'departments_wrangled.csv'))

In [3]:
# Create subset of one million rows

df = ords_prods_merge[:1000000]

In [4]:
df.shape

(1000000, 18)

In [5]:
df.head(10)

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid range product,Regulary busy,Regulary busy,Average orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Least busy,Average orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Least busy,Average orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Least busy,Least busy,Average orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Least busy,Least busy,Average orders
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Regulary busy,Average orders
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Busiest days,Average orders
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Busiest days,Average orders
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Busiest days,Average orders
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Least busy,Least busy,Average orders

In [6]:
df.groupby('product_name')

# Aggregating Data with agg()

In [7]:
# Split the data into groups & apply agg()

df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
4                18.825780
7                17.472355
13               17.993423
14               19.246334
16               19.463012
17               11.294069
19               19.305237
20               17.599636

In [8]:
# Using the mean function

df_agg = df.groupby('department_id')['order_number'].mean()

In [9]:
# Perform multiple aggregations

df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
4                18.825780   1  99
7                17.472355   1  99
13               17.993423   1  99
14               19.246334   1  99
16               19.463012   1  99
17               11.294069   1  98
19               19.305237   1  99
20               17.599636   1  99

# Aggregating Data with transform()

In [10]:
# Aggregate the data and apply the transform function to create new column

ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [11]:
ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid range product,Regulary busy,Regulary busy,Average orders,10
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Least busy,Average orders,10
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Least busy,Average orders,10
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Least busy,Least busy,Average orders,10
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Least busy,Least busy,Average orders,10
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Regulary busy,Average orders,10
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Busiest days,Average orders,10
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Busiest days,Average orders,10
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Busiest days,Average orders,10
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Least busy,Least busy,Average orders,10
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,both,Mid range product,Regulary busy,Busiest days,Average orders,22
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Regulary busy,Average orders,22
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Regulary busy,Average orders,22
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Busiest days,Average orders,22
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Busiest days,Most Orders,22

In [12]:
# Display all rows

pd.options.display.max_rows = None

In [13]:
ords_prods_merge.head(100)

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid range product,Regulary busy,Regulary busy,Average orders,10
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Least busy,Average orders,10
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Least busy,Average orders,10
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Least busy,Least busy,Average orders,10
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Least busy,Least busy,Average orders,10
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Regulary busy,Average orders,10
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Busiest days,Average orders,10
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Busiest days,Average orders,10
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Busiest days,Average orders,10
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Least busy,Least busy,Average orders,10
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,both,Mid range product,Regulary busy,Busiest days,Average orders,22
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Regulary busy,Average orders,22
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Regulary busy,Average orders,22
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Busiest days,Average orders,22
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Busiest days,Most Orders,22
15,2293453,19,2,5,14,6.0,196,3,0,Soda,77,7,9.0,both,Mid range product,Regulary busy,Regulary busy,Average orders,9
16,1973799,19,5,6,12,8.0,196,15,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Regulary busy,Average orders,9
17,532817,19,7,4,17,6.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Least busy,Least busy,Average orders,9
18,1573906,21,10,3,10,6.0,196,2,0,Soda,77,7,9.0,both,Mid range product,Regulary busy,Least busy,Most Orders,33
19,1593000,31,10,3,8,7.0,196,17,0,Soda,77,7,9.0,both,Mid range product,Regulary busy,Least busy,Average orders,20
20,2231262,31,17,3,11,8.0,196,14,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Least busy,Average orders,20
21,2580647,43,6,4,16,4.0,196,9,0,Soda,77,7,9.0,both,Mid range product,Least busy,Least busy,Average orders,11
22,2187180,43,9,4,12,3.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Least busy,Least busy,Average orders,11
23,2497897,52,1,1,9,NaN,196,4,0,Soda,77,7,9.0,both,Mid range product,Regulary busy,Busiest days,Average orders,27
24,1318871,52,2,1,10,7.0,196,5,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Busiest days,Most Orders,27
25,1261384,52,3,1,10,7.0,196,3,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Busiest days,Most Orders,27
26,580568,52,5,2,10,8.0,196,6,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Regulary busy,Most Orders,27
27,2428073,52,7,2,7,8.0,196,5,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Regulary busy,Average orders,27
28,342306,52,9,1,11,7.0,196,5,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Busiest days,Average orders,27
29,1520353,52,10,2,10,8.0,196,4,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Regulary busy,Most Orders,27
30,2542086,52,11,2,9,7.0,196,3,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Regulary busy,Average orders,27
31,944694,52,12,1,16,6.0,196,7,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Busiest days,Average orders,27
32,1268191,52,15,2,11,8.0,196,3,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Regulary busy,Average orders,27
33,1122089,52,17,2,10,6.0,196,4,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Regulary busy,Most Orders,27
34,1498922,52,18,2,10,14.0,196,6,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Regulary busy,Most Orders,27
35,180919,52,19,3,8,8.0,196,4,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Least busy,Average orders,27
36,2695875,52,21,5,10,30.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Regulary busy,Most Orders,27
37,3205960,67,1,3,11,NaN,196,1,0,Soda,77,7,9.0,both,Mid range product,Regulary busy,Least busy,Average orders,24
38,970922,67,2,1,15,5.0,196,2,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Busiest days,Average orders,24
39,596585,67,3,1,13,7.0,196,2,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Busiest days,Average orders,24
40,2037087,67,4,2,9,8.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Regulary busy,Average orders,24
41,2474111,67,5,3,14,8.0,196,2,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Least busy,Average orders,24
42,1568481,67,6,3,12,7.0,196,2,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Least busy,Average orders,24
43,2048527,67,8,2,11,7.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Regulary busy,Average orders,24
44,2389031,67,9,2,14,7.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Regulary busy,Average orders,24
45,2378562,67,10,1,10,6.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Busiest days,Most Orders,24
46,1515698,67,11,1,11,7.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Busiest days,Average orders,24
47,1928050,67,12,2,12,8.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Regulary busy,Average orders,24
48,1949274,67,13,1,10,6.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Busiest days,Most Orders,24
49,551869,67,14,1,9,7.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Busiest days,Average orders,24
50,768572,67,16,4,10,9.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Least busy,Least busy,Most Orders,24
51,150528,67,18,5,16,4.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Regulary busy,Average orders,24
52,29758,67,19,0,14,9.0,196,2,1,Soda,77,7,9.0,both,Mid range product,Busiest day,Busiest days,Average orders,24
53,1558976,67,21,1,9,5.0,196,2,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Busiest days,Average orders,24
54,863974,67,22,1,11,14.0,196,3,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Busiest days,Average orders,24
55,2308399,67,23,1,14,14.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Busiest days,Average orders,24
56,2759128,81,3,1,9,14.0,196,2,0,Soda,77,7,9.0,both,Mid range product,Regulary busy,Busiest days,Average orders,7
57,1812985,81,5,2,20,30.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Regulary busy,Average orders,7
58,1889835,82,1,3,15,NaN,196,6,0,Soda,77,7,9.0,both,Mid range product,Regulary busy,Least busy,Average orders,19
59,499460,82,3,5,10,5.0,196,2,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Regulary busy,Most Orders,19
60,2728456,82,4,0,11,16.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Busiest day,Busiest days,Average orders,19
61,2653743,82,6,4,9,13.0,196,5,1,Soda,77,7,9.0,both,Mid range product,Least busy,Least busy,Average orders,19
62,1358880,82,9,1,10,30.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Busiest days,Most Orders,19
63,343588,82,10,2,11,1.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Regulary busy,Average orders,19
64,3034663,82,15,2,11,12.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Regulary busy,Average orders,19
65,147262,82,18,1,13,7.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Busiest days,Average orders,19
66,3144004,82,19,2,15,8.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Regulary busy,Average orders,19
67,2126069,98,3,0,9,25.0,196,7,0,Soda,77,7,9.0,both,Mid range product,Busiest day,Busiest days,Average orders,14
68,2210120,98,7,5,14,5.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Regulary busy,Average orders,14
69,681011,98,9,3,9,30.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Least busy,Average orders,14
70,2846344,98,11,4,13,15.0,196,2,1,Soda,77,7,9.0,both,Mid range product,Least busy,Least busy,Average orders,14
71,747431,98,12,6,13,30.0,196,4,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Regulary busy,Average orders,14
72,2383054,98,13,4,11,30.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Least busy,Least busy,Average orders,14
73,1993729,98,14,5,8,8.0,196,2,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Regulary busy,Average orders,14
74,1403849,109,3,3,17,9.0,196,5,0,Soda,77,7,9.0,both,Mid range product,Regulary busy,Least busy,Average orders,6
75,520620,120,1,3,11,NaN,196,2,0,Soda,77,7,9.0,both,Mid range product,Regulary busy,Least busy,Average orders,3
76,3273029,120,3,2,8,19.0,196,2,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Regulary busy,Average orders,3
77,1861943,185,2,1,12,25.0,196,10,0,Soda,77,7,9.0,both,Mid range product,Regulary busy,Busiest days,Average orders,6
78,2040988,195,1,1,14,NaN,196,2,0,Soda,77,7,9.0,both,Mid range product,Regulary busy,Busiest days,Average orders,58
79,1680569,195,8,1,9,4.0,196,2,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Busiest days,Average orders,58
80,276171,195,19,5,11,3.0,196,2,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Regulary busy,Average orders,58
81,2744976,195,22,5,10,7.0,196,2,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Regulary busy,Most Orders,58
82,2781919,195,25,1,14,4.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Busiest days,Average orders,58
83,1738718,195,31,2,8,4.0,196,2,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Regulary busy,Average orders,58
84,3058369,195,34,3,10,6.0,196,2,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Least busy,Most Orders,58
85,1485596,195,37,2,15,0.0,196,2,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Regulary busy,Average orders,58
86,417035,195,40,3,16,2.0,196,2,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Least busy,Average orders,58
87,1615297,195,47,5,10,2.0,196,2,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Regulary busy,Most Orders,58
88,1765587,195,52,3,12,2.0,196,3,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Least busy,Average orders,58
89,745908,195,57,4,11,3.0,196,3,1,Soda,77,7,9.0,both,Mid range product,Least busy,Least busy,Average orders,58
90,2505656,222,17,2,12,1.0,196,2,0,Soda,77,7,9.0,both,Mid range product,Regulary busy,Regulary busy,Average orders,70
91,3268370,222,38,5,15,1.0,196,6,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Regulary busy,Average orders,70
92,2016711,290,9,5,19,6.0,196,8,0,Soda,77,7,9.0,both,Mid range product,Regulary busy,Regulary busy,Average orders,51
93,2706088,290,28,6,10,7.0,196,16,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Regulary busy,Most Orders,51
94,1952286,331,6,5,16,30.0,196,8,0,Soda,77,7,9.0,both,Mid range product,Regulary busy,Regulary busy,Average orders,8
95,3226575,360,1,5,12,NaN,196,1,0,Soda,77,7,9.0,both,Mid range product,Regulary busy,Regulary busy,Average orders,3
96,1469869,377,3,5,17,3.0,196,9,0,Soda,77,7,9.0,both,Mid range product,Regulary busy,Regulary busy,Average orders,3
97,1927023,387,2,4,10,22.0,196,3,0,Soda,77,7,9.0,both,Mid range product,Least busy,Least busy,Most Orders,8
98,858092,420,4,1,19,30.0,196,2,0,Soda,77,7,9.0,both,Mid range product,Regulary busy,Busiest days,Average orders,22
99,119314,420,5,3,19,16.0,196,2,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Least busy,Average orders,22

# Deriving Columns with loc()

In [14]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [15]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular Customer'

In [16]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [17]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular Customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [18]:
# Check column

ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             2
2         1      New customer             3
3         1      New customer             4
4         1      New customer             5
5         1      New customer             6
6         1      New customer             7
7         1      New customer             8
8         1      New customer             9
9         1      New customer            10
10       15  Regular Customer            15
11       15  Regular Customer            17
12       15  Regular Customer            18
13       15  Regular Customer            21
14       15  Regular Customer            22
15       19      New customer             2
16       19      New customer             5
17       19      New customer             7
18       21  Regular Customer            10
19       31  Regular Customer            10
20       31  Regular Customer            17
21       43  Regular Customer             6
22       43  Regular Customer             9
23       52  Regular Customer             1
24       52  Regular Customer             2
25       52  Regular Customer             3
26       52  Regular Customer             5
27       52  Regular Customer             7
28       52  Regular Customer             9
29       52  Regular Customer            10
30       52  Regular Customer            11
31       52  Regular Customer            12
32       52  Regular Customer            15
33       52  Regular Customer            17
34       52  Regular Customer            18
35       52  Regular Customer            19
36       52  Regular Customer            21
37       67  Regular Customer             1
38       67  Regular Customer             2
39       67  Regular Customer             3
40       67  Regular Customer             4
41       67  Regular Customer             5
42       67  Regular Customer             6
43       67  Regular Customer             8
44       67  Regular Customer             9
45       67  Regular Customer            10
46       67  Regular Customer            11
47       67  Regular Customer            12
48       67  Regular Customer            13
49       67  Regular Customer            14
50       67  Regular Customer            16
51       67  Regular Customer            18
52       67  Regular Customer            19
53       67  Regular Customer            21
54       67  Regular Customer            22
55       67  Regular Customer            23
56       81      New customer             3
57       81      New customer             5
58       82  Regular Customer             1
59       82  Regular Customer             3

# Exercise 4.8 Task Step 1

In [19]:
# Check shape

ords_prods_merge.shape

(32404859, 20)

In [20]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid range product,Regulary busy,Regulary busy,Average orders,10,New customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Least busy,Average orders,10,New customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regulary busy,Least busy,Average orders,10,New customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Least busy,Least busy,Average orders,10,New customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Least busy,Least busy,Average orders,10,New customer

# Step 2

In [21]:
# Find aggregated mean of the "order_number" column for the entire dataframe

ords_prods_merge_agg = ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

In [22]:
ords_prods_merge_agg

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

In [23]:
# Summary stats of aggregation

ords_prods_merge_agg.describe()

      order_number
              mean
count    21.000000
mean     17.087447
std       1.819409
min      15.215751
25%      15.895474
50%      16.583536
75%      17.277920
max      22.902379

In [24]:
# Summary stats of subset aggregation

df_agg.describe()

count     8.000000
mean     17.649981
std       2.686140
min      11.294069
25%      17.567816
50%      18.409602
75%      19.261060
max      19.463012
Name: order_number, dtype: float64

In [25]:
# departments_wrangled dataframe used for reference

df_dep_t_new

    Unnamed: 0       department
0            1           frozen
1            2            other
2            3           bakery
3            4          produce
4            5          alcohol
5            6    international
6            7        beverages
7            8             pets
8            9  dry goods pasta
9           10             bulk
10          11    personal care
11          12     meat seafood
12          13           pantry
13          14        breakfast
14          15     canned goods
15          16       dairy eggs
16          17        household
17          18           babies
18          19           snacks
19          20             deli
20          21          missing

# Step 3

When comparing the summary stats of the two aggregations we can see that the aggregation for the entire dataframe 
has less variability compared to the subset. 

Additionally, the mean is slightly larger in the subset with a bigger range between the minimum and maximum value. 

Furthermore, referencing the department_wrangled dataframe, we can see that the 'missing' department has the largest average
number of orders, with the 'bulk' department following behind.

# Step 4

In [26]:
# Done Output 10-18

# Step 5

In [27]:
# Check basic statistics of the product prices for each loyalty category

ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular Customer  12.495717  1.0  99999.0

The price of products purchased by loyal customers does differ from new and regular customers. The average price of the products purchased by loyal customers is lower than that of new and regular customers, with new customers having the highest average purchase price. 

The maximum price is 99999 which is most likely and error and would have skewed the distribution. Further analysis is needed.

In [28]:
# Check if there any other prices that seem to be errors

ords_prods_merge['prices'].sort_values(ascending = False).unique()

array([9.9999e+04, 1.4900e+04, 2.5000e+01, 2.4900e+01, 2.4800e+01,
       2.4700e+01, 2.4600e+01, 2.4500e+01, 2.4400e+01, 2.4300e+01,
       2.4200e+01, 2.4100e+01, 2.4000e+01, 2.3900e+01, 2.3800e+01,
       2.3700e+01, 2.3600e+01, 2.3500e+01, 2.3400e+01, 2.3300e+01,
       2.3200e+01, 2.3100e+01, 2.3000e+01, 2.2900e+01, 2.2800e+01,
       2.2700e+01, 2.2600e+01, 2.2500e+01, 2.2400e+01, 2.2300e+01,
       2.2200e+01, 2.2100e+01, 2.2000e+01, 2.1900e+01, 2.1800e+01,
       2.1700e+01, 2.1600e+01, 2.1500e+01, 2.1400e+01, 2.1300e+01,
       2.1100e+01, 2.1000e+01, 2.0900e+01, 2.0800e+01, 2.0700e+01,
       2.0600e+01, 2.0500e+01, 2.0400e+01, 2.0300e+01, 2.0200e+01,
       2.0100e+01, 2.0000e+01, 1.9900e+01, 1.9800e+01, 1.9700e+01,
       1.9600e+01, 1.9500e+01, 1.9400e+01, 1.9300e+01, 1.9200e+01,
       1.9100e+01, 1.9000e+01, 1.8900e+01, 1.8800e+01, 1.8700e+01,
       1.8600e+01, 1.8500e+01, 1.8400e+01, 1.8300e+01, 1.8200e+01,
       1.8100e+01, 1.8000e+01, 1.7900e+01, 1.7800e+01, 1.7700e+01,
       1.7600e+01, 1.7500e+01, 1.7400e+01, 1.7300e+01, 1.7200e+01,
       1.7100e+01, 1.7000e+01, 1.6900e+01, 1.6800e+01, 1.6700e+01,
       1.6600e+01, 1.6500e+01, 1.6400e+01, 1.6300e+01, 1.6200e+01,
       1.6100e+01, 1.6000e+01, 1.5900e+01, 1.5800e+01, 1.5700e+01,
       1.5600e+01, 1.5500e+01, 1.5400e+01, 1.5300e+01, 1.5200e+01,
       1.5100e+01, 1.5000e+01, 1.4900e+01, 1.4800e+01, 1.4700e+01,
       1.4600e+01, 1.4500e+01, 1.4400e+01, 1.4300e+01, 1.4200e+01,
       1.4100e+01, 1.4000e+01, 1.3900e+01, 1.3800e+01, 1.3700e+01,
       1.3600e+01, 1.3500e+01, 1.3400e+01, 1.3300e+01, 1.3200e+01,
       1.3100e+01, 1.3000e+01, 1.2900e+01, 1.2800e+01, 1.2700e+01,
       1.2600e+01, 1.2500e+01, 1.2400e+01, 1.2300e+01, 1.2200e+01,
       1.2100e+01, 1.2000e+01, 1.1900e+01, 1.1800e+01, 1.1700e+01,
       1.1600e+01, 1.1500e+01, 1.1400e+01, 1.1300e+01, 1.1200e+01,
       1.1100e+01, 1.1000e+01, 1.0900e+01, 1.0800e+01, 1.0700e+01,
       1.0600e+01, 1.0500e+01, 1.0400e+01, 1.0300e+01, 1.0200e+01,
       1.0100e+01, 1.0000e+01, 9.9000e+00, 9.8000e+00, 9.7000e+00,
       9.6000e+00, 9.5000e+00, 9.4000e+00, 9.3000e+00, 9.2000e+00,
       9.1000e+00, 9.0000e+00, 8.9000e+00, 8.8000e+00, 8.7000e+00,
       8.6000e+00, 8.5000e+00, 8.4000e+00, 8.3000e+00, 8.2000e+00,
       8.1000e+00, 8.0000e+00, 7.9000e+00, 7.8000e+00, 7.7000e+00,
       7.6000e+00, 7.5000e+00, 7.4000e+00, 7.3000e+00, 7.2000e+00,
       7.1000e+00, 7.0000e+00, 6.9000e+00, 6.8000e+00, 6.7000e+00,
       6.6000e+00, 6.5000e+00, 6.4000e+00, 6.3000e+00, 6.2000e+00,
       6.1000e+00, 6.0000e+00, 5.9000e+00, 5.8000e+00, 5.7000e+00,
       5.6000e+00, 5.5000e+00, 5.4000e+00, 5.3000e+00, 5.2000e+00,
       5.1000e+00, 5.0000e+00, 4.9000e+00, 4.8000e+00, 4.7000e+00,
       4.6000e+00, 4.5000e+00, 4.4000e+00, 4.3000e+00, 4.2000e+00,
       4.1000e+00, 4.0000e+00, 3.9000e+00, 3.8000e+00, 3.7000e+00,
       3.6000e+00, 3.5000e+00, 3.4000e+00, 3.3000e+00, 3.2000e+00,
       3.1000e+00, 3.0000e+00, 2.9000e+00, 2.8000e+00, 2.7000e+00,
       2.6000e+00, 2.5000e+00, 2.4000e+00, 2.3000e+00, 2.2000e+00,
       2.1000e+00, 2.0000e+00, 1.9000e+00, 1.8000e+00, 1.7000e+00,
       1.6000e+00, 1.5000e+00, 1.4000e+00, 1.3000e+00, 1.2000e+00,
       1.1000e+00, 1.0000e+00])

In [29]:
# Fix prices by copying prices column into new column fixed_prices and changing 99999 to 9.99 and 14900 to 1.49

ords_prods_merge['fixed_prices'] = ords_prods_merge['prices']

In [30]:
ords_prods_merge = ords_prods_merge.replace({"fixed_prices": {99999.0 : 9.9, 14900.0 : 1.49}})

In [31]:
# Check 

ords_prods_merge['fixed_prices'].max()

25.0

In [32]:
# Check basic statistics of the product prices for each loyalty category

ords_prods_merge.groupby('loyalty_flag').agg({'fixed_prices': ['mean', 'min', 'max']})

                 fixed_prices
                         mean  min   max
loyalty_flag
Loyal customer       7.772830  1.0  25.0
New customer         7.800317  1.0  25.0
Regular Customer     7.797428  1.0  25.0

With the prices fixed we can see that there is a very small difference in the average price of the products purchased by customers.

# Step 6

In [33]:
# Create average_price column

ords_prods_merge['average_price'] = ords_prods_merge.groupby(['user_id'])['fixed_prices'].transform(np.mean)

In [34]:
ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,...,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,fixed_prices,average_price
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,9.0,both,Mid range product,Regulary busy,Regulary busy,Average orders,10,New customer,9.0,6.367797
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,9.0,both,Mid range product,Regulary busy,Least busy,Average orders,10,New customer,9.0,6.367797
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,9.0,both,Mid range product,Regulary busy,Least busy,Average orders,10,New customer,9.0,6.367797
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,9.0,both,Mid range product,Least busy,Least busy,Average orders,10,New customer,9.0,6.367797
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,9.0,both,Mid range product,Least busy,Least busy,Average orders,10,New customer,9.0,6.367797
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,9.0,both,Mid range product,Regulary busy,Regulary busy,Average orders,10,New customer,9.0,6.367797
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,9.0,both,Mid range product,Regulary busy,Busiest days,Average orders,10,New customer,9.0,6.367797
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,9.0,both,Mid range product,Regulary busy,Busiest days,Average orders,10,New customer,9.0,6.367797
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,9.0,both,Mid range product,Regulary busy,Busiest days,Average orders,10,New customer,9.0,6.367797
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,9.0,both,Mid range product,Least busy,Least busy,Average orders,10,New customer,9.0,6.367797
10,2968173,15,15,1,9,7.0,196,2,0,Soda,...,9.0,both,Mid range product,Regulary busy,Busiest days,Average orders,22,Regular Customer,9.0,3.980556
11,1870022,15,17,2,16,8.0,196,6,1,Soda,...,9.0,both,Mid range product,Regulary busy,Regulary busy,Average orders,22,Regular Customer,9.0,3.980556
12,1911383,15,18,2,11,7.0,196,1,1,Soda,...,9.0,both,Mid range product,Regulary busy,Regulary busy,Average orders,22,Regular Customer,9.0,3.980556
13,2715276,15,21,1,9,7.0,196,1,1,Soda,...,9.0,both,Mid range product,Regulary busy,Busiest days,Average orders,22,Regular Customer,9.0,3.980556
14,487368,15,22,1,10,14.0,196,1,1,Soda,...,9.0,both,Mid range product,Regulary busy,Busiest days,Most Orders,22,Regular Customer,9.0,3.980556

In [35]:
# Create spending flag based on average_price across all their orders

ords_prods_merge.loc[ords_prods_merge['average_price'] < 10, 'spending_flag' ] = 'Low spender'

In [36]:
ords_prods_merge.loc[ords_prods_merge['average_price'] >= 10, 'spending_flag'] = 'High spender'

In [37]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,...,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,fixed_prices,average_price,spending_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,both,Mid range product,Regulary busy,Regulary busy,Average orders,10,New customer,9.0,6.367797,Low spender
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,both,Mid range product,Regulary busy,Least busy,Average orders,10,New customer,9.0,6.367797,Low spender
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,both,Mid range product,Regulary busy,Least busy,Average orders,10,New customer,9.0,6.367797,Low spender
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,both,Mid range product,Least busy,Least busy,Average orders,10,New customer,9.0,6.367797,Low spender
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,both,Mid range product,Least busy,Least busy,Average orders,10,New customer,9.0,6.367797,Low spender

In [38]:
# Check the frequency

ords_prods_merge['spending_flag'].value_counts(dropna = False)

Low spender     32285165
High spender      119694
Name: spending_flag, dtype: int64

# Step 7

In [39]:
# Create median_last_order column

ords_prods_merge['median_last_order'] = ords_prods_merge.groupby(['user_id'])['days_since_last_order'].transform(np.median)

In [40]:
ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,fixed_prices,average_price,spending_flag,median_last_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,Mid range product,Regulary busy,Regulary busy,Average orders,10,New customer,9.0,6.367797,Low spender,20.5
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Mid range product,Regulary busy,Least busy,Average orders,10,New customer,9.0,6.367797,Low spender,20.5
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,Mid range product,Regulary busy,Least busy,Average orders,10,New customer,9.0,6.367797,Low spender,20.5
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,Mid range product,Least busy,Least busy,Average orders,10,New customer,9.0,6.367797,Low spender,20.5
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Mid range product,Least busy,Least busy,Average orders,10,New customer,9.0,6.367797,Low spender,20.5
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,Mid range product,Regulary busy,Regulary busy,Average orders,10,New customer,9.0,6.367797,Low spender,20.5
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,Mid range product,Regulary busy,Busiest days,Average orders,10,New customer,9.0,6.367797,Low spender,20.5
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,Mid range product,Regulary busy,Busiest days,Average orders,10,New customer,9.0,6.367797,Low spender,20.5
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,Mid range product,Regulary busy,Busiest days,Average orders,10,New customer,9.0,6.367797,Low spender,20.5
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,Mid range product,Least busy,Least busy,Average orders,10,New customer,9.0,6.367797,Low spender,20.5
10,2968173,15,15,1,9,7.0,196,2,0,Soda,...,Mid range product,Regulary busy,Busiest days,Average orders,22,Regular Customer,9.0,3.980556,Low spender,10.0
11,1870022,15,17,2,16,8.0,196,6,1,Soda,...,Mid range product,Regulary busy,Regulary busy,Average orders,22,Regular Customer,9.0,3.980556,Low spender,10.0
12,1911383,15,18,2,11,7.0,196,1,1,Soda,...,Mid range product,Regulary busy,Regulary busy,Average orders,22,Regular Customer,9.0,3.980556,Low spender,10.0
13,2715276,15,21,1,9,7.0,196,1,1,Soda,...,Mid range product,Regulary busy,Busiest days,Average orders,22,Regular Customer,9.0,3.980556,Low spender,10.0
14,487368,15,22,1,10,14.0,196,1,1,Soda,...,Mid range product,Regulary busy,Busiest days,Most Orders,22,Regular Customer,9.0,3.980556,Low spender,10.0

In [41]:
# Create last_order_frequency flag

ords_prods_merge.loc[ords_prods_merge['median_last_order'] > 20, 'last_order_frequency'] = 'Non-frequent customer'

In [42]:
ords_prods_merge.loc[(ords_prods_merge['median_last_order'] > 10) & (ords_prods_merge['median_last_order'] <= 20), 'last_order_frequency'] = 'Regular customer'

In [43]:
ords_prods_merge.loc[ords_prods_merge['median_last_order'] <= 10, 'last_order_frequency'] = 'Frequent customer'

In [44]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,...,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,fixed_prices,average_price,spending_flag,median_last_order,last_order_frequency
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,Regulary busy,Regulary busy,Average orders,10,New customer,9.0,6.367797,Low spender,20.5,Non-frequent customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Regulary busy,Least busy,Average orders,10,New customer,9.0,6.367797,Low spender,20.5,Non-frequent customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,Regulary busy,Least busy,Average orders,10,New customer,9.0,6.367797,Low spender,20.5,Non-frequent customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,Least busy,Least busy,Average orders,10,New customer,9.0,6.367797,Low spender,20.5,Non-frequent customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Least busy,Least busy,Average orders,10,New customer,9.0,6.367797,Low spender,20.5,Non-frequent customer

In [45]:
# Check frequency

ords_prods_merge['last_order_frequency'].value_counts(dropna = False)

Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: last_order_frequency, dtype: int64

# Step 9

In [46]:
# Export dataframe

ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_updated2.pkl'))